html {
  min-height: 100%;
}

body {
  background-image: url('./images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Karla', sans-serif;
  width: 100%;
  min-height: 100%;
}
