.landing-wrapper {
  margin: auto;
  background-image: url('../../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.modal {
  margin-top: 100px;
}
@media screen and (max-width: 578px) {
  body {
    background-position-x: center;
  }
}
