.flight-display-wrapper {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
}

.flight-display-header {
  background: rgb(206, 220, 228, 0.65);
  text-align: center;
  width: 100%;
  padding: 5px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-size: 17px;
}

.airline-logo {
  height: 80px;
  border-bottom-left-radius: 10px;
  flex: 1;
}

.flight-info-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flight-info {
  flex: 3;
  display: block;
  margin-left: 15px;
}

@media screen and (max-width: 576px) {
  .flight-display-wrapper {
    width: 100%;
  }
}
