.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #1d1d1d 5px solid;
  border-radius: 5px;
  background: none;
  font-size: 50px;
  font-weight: bold;
  color: #1d1d1d;
}

.main-heading {
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.sec-heading {
  font-weight: bold;
  font-size: 3rem;
  color: #1d1d1d;
}

.input-wrapper {
  width: 80%;
  margin: 100px auto;
  justify-content: center;
}

.small-sec {
  font-size: 2.5rem;
  display: block;
}

@media screen and (max-width: 576px) {
  .main-heading,
  .sec-heading {
    text-align: center;
  }
  .main-heading {
    color: #1d1d1d;
    font-size: 3.5rem;
  }
  .sec-heading {
    color: white;
    font-size: 2.5rem;
  }
  .input {
    width: 100%;
    text-align: center;
    color: white;
    border-bottom-color: white;
    font-size: 2.5rem;
  }
}
