.input {
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #1d1d1d 5px solid;
  border-radius: 5px;
  background: none;
  width: 600px;
  font-size: 50px;
  font-weight: bold;
  color: #1d1d1d;
}
