#results-page-wrapper {
  width: 100%;
  background: rgb(255, 255, 255, 0.65);
  border-radius: 10px;
  padding: 20px;
  margin-top: 80px;
}

#results-header {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
}

.divider {
  height: 5px;
  background: #777;
}

#trip-info-wrapper {
  background-color: rgb(133, 167, 187, 0.65);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5px;
}

.trip-info-section {
  text-align: center;
}

#flight-hotel-wrapper {
  margin: 20px 5px;
  background-color: rgb(213, 172, 136, 0.65);
  border-radius: 10px;
  padding: 20px;
}

.flight-hotel-header {
  font-weight: bold;
  text-align: center;
}

.my-concierge-footer {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
}

@media screen and (max-width: 578px) {
  #results-page-wrapper {
    margin-top: 40px;
    padding: 10px;
  }

  #flight-hotel-wrapper {
    padding: 10px;
  }
}
