#navbar-wrapper {
  background-color: rgb(37, 2, 2);
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar-title {
  color: rgb(255, 246, 189);
  display: inline-block;
  font-size: 35px;
}

#navbar-form {
  display: inline-block;
}

#navbar-form-label {
  display: inline-block;
  margin-left: 50px;
  font-size: 20px;
  color: rgb(175, 138, 58);
  font-weight: bold;
}

.navbar-inputs {
  display: inline-block;
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: rgb(180, 180, 180) 2px solid;
  background: transparent;
  color: white;
  font-weight: bold;
}

#navbar-submit-button {
  display: inline-block;
  font-weight: bold;
  color: rgb(202, 202, 202);
  margin-left: 20px;
  transition: 0.3s;
}

#navbar-submit-button:hover {
  color: white;
  cursor: pointer;
}
